@media screen and (max-width: 1668px){
    .ball{
        display: none;
    }

}

@media screen and (max-width: 1510px){
    .col-6{
        width: 100%;
    }
    .col-6 img{
        width: 100%;
        height: 350px;
    }

}
@media screen and (max-width: 1400px){
    .cuatro_col_50 .col-3{
        height: 275px;
    }

}

@media screen and (max-width: 1142px){
    .col-3{ 
        width: 48.48%;
        height: 400px;
    }
    .nomargin{
        margin-right: 0;  
    }
    .cuatro_col_50 .col-3{
        height: 200px;
    }
    footer{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1056px){
    .ball{
        display: none;
    }
}


@media screen and (max-width: 924px){
    #logo{
        width: 100%;
        text-align: center;
    }
    header nav{
        width: 100%;
    }
    header nav li{
        float: none;
        display: inline-block;

    }
    header nav ul{
        text-align: center;
    }
    nav ul li a{
        padding-left: 0;
        border-left: none;
        font-size: 0.9em;

    }
    #banner{
        height: 300px;
    }
}

@media screen and (max-width: 682px){
    header nav li{
        display: block;
        line-height: 40px;
        background: #E5DFC8;
        margin-bottom: 1px;
        margin-left: 0;

    }
    nav ul li a{
        width: 100%;
        display: block;
    }
    .cuatro_col_50 .col-3{
        height: 220px;
    }
    #banner{
        height: 280px;
    }
    .container{
        width: 90%;
    }
    #logo{
        margin-bottom: 25px;
    }

}

@media screen and (max-width: 585px){
    h1{
        margin-top: -10px;
        font-size: 1.4em;
    }
    .col-3{
        width: 100%;

    }
    .col-3 h3, .col-3 p{
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .col-3 p{
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    .col-3 img{
        width: 70%;
        margin: 0 auto;
        display: block;
    }
    h2{
        text-align: center;
        margin-bottom: 15px;
    }

    .cuatro_col_50 .col-3{
        height: 320px;
    }
    .cuatro_col_50 .col-3 p{
        width: 100%;
        margin-bottom: 15px;
    }
    .cuatro_col_50 .col-3 img{
        with: 70%;
        float: none;
    }
    header.col-12 .container, footer .container{
        width: 100%;
    }

}